
html{
    scroll-behavior: smooth;
    
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #EDF3F8;
    min-height: 900vh;
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #EDF3F8;
    align-items: center;
    padding-right: 2rem;
    height: 75px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.10);
    z-index: 99999;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
}
.navbar-logo{
    width: 70px;
    margin-left: 3rem;
}
.navbar-nav a{
    margin: 0 1.8rem;
    align-self: center;
    color: #252525;
    font-size: 21px;
    font-weight: 400;
    text-decoration: none;
}

.navbar-extra img{
    margin-top: 1rem;
    margin-right: 3rem;
}
.navbar-nav a:hover{
    
}

/* HOME */
.hero{
    margin-right: 5rem;
    margin-left: 6.5rem;
   
}

.content-home{
    margin: 8rem 2rem 3rem 2rem ;
}
.content-home1{
    margin: 8rem 2rem 3rem 4rem ;
}